{# templates/project/add.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau projet</h1>

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.dateCreated) }}  {# Ajouter ce champ pour la date de création #}
    {{ form_row(form.image) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}

{% endblock %}
