{# templates/apprentissage_critique/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Apprentissages Critiques{% endblock %}

{% block body %}
    <h1>Liste des Apprentissages Critiques</h1>

    <ul>
        {% for learning in criticalLearnings %}
            <li>
                <strong>{{ learning.title }}</strong> - {{ learning.description }} <br>
                Créé le : {{ learning.dateCreated|date('d/m/Y H:i') }} <br>

                {% if learning.image %}
                    <img src="{{ asset('uploads/' ~ learning.image) }}" alt="{{ learning.title }}" style="max-width: 300px; height: auto;">
                {% else %}
                    <p>Aucune image disponible.</p>
                {% endif %}
            </li>
        {% else %}
            <p>Aucun apprentissage critique disponible.</p>
        {% endfor %}
    </ul>

    <a href="{{ path('add_critical_learning') }}">Ajouter un apprentissage critique</a>
{% endblock %}
